<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-header">
      <mat-icon class="brand-icon">hub</mat-icon>
      <span class="brand-name">CRM</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="active-link"
           [matTooltip]="item.label"
           matTooltipPosition="right">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>

      @if (currentUser$ | async; as user) {
        <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
      }

      <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="page-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
